<% provide(:title, 'Home') %>
<h1>Welcome to the Debate Tournament Helper</h1>
<p>
  This is the tournament application for
  <a href="http://www.andover.edu">The Philomathean Society
</p>
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("Philo.jpg", alt: "Philo"), 'https://www.facebook.com/paphilomatheansociety' %>