<% provide(:title, 'Home') %>
<h1>YouTab Debate App</h1>
<p>
 <center> This is the tournament application for
  <a href="http://www.andover.edu">The Philomathean Society
</p>
 <center> <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<br><center><%= link_to image_tag("Philo.jpg", alt: "Philo"), 'https://www.facebook.com/paphilomatheansociety' %>