<li>
<% user = User.find(ballot.user_id) %>
<% if @b == 2  #refer to ballot/show file to view the purpose of this.%>
  <span class="content"> Judged by <%= link_to user.first + " " + user.last, user_path(ballot.user_id) %>
<% end %>
   </span>
  <%= link_to ballot.id, ballot %>
  <span class="timestamp">
    <%= time_ago_in_words(ballot.created_at) %> ago.
  </span>
</li>
